* {
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: "Bree Serif", serif;
    background-color: #EEE;
}

a,
input {
    color: inherit;
}

input {
    font-family: inherit;
}

/* COMMON */
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */
.header {
    background-color: #ddd;
}

.header .inner {
    display: flex;
    height: 102px;
    align-items: center;

}

.header .nav {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.header .nav a {
    text-decoration: none;
    font-size: 20px;
}

.header .nav a:hover {
    color: rgb(23, 103, 138);
}

.header .logo {
    height: 70px;
}

.search-form {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    margin-left: 32px;
    width: 241px;
    height: 36px;
    background-color: #fff;
    border-radius: 5px;
    padding: 8px;
    gap: 5px;
    box-shadow: rgba(0, 0, 0, 0.39) 0px 1.5px 2px 0px inset;
}

.search-input {
    flex: 1;
    border: 0;
    outline: 0;
}

.search-input::placeholder,
.header i {
    color: #999
}

/* NAVBAR */
.navbar {
    background-color: rgb(20, 72, 91);
    box-shadow: rgba(0, 0, 0, 0.39) 0px 3.5px 7px;

}

.container-1 {
    width: 1200px;
    height: 49.5px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 33px;
    
}

.menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.menu li {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar .menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 9.6px;
    font-size: 19.2px;

}

.navbar .menu li:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

.content {
    background-color: #EEE;
    
}


.section {
    position: relative;
    width: 860px;
    background-color: #fff;
    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    
}

.section a {
    text-decoration: none;
}


h1 {
    font-size: 32px;
    width: 698px;
    background-color: #fff;
    align-items: center;
    line-height: 48px;
    margin-bottom: 21.44px;
    
}

.time {
    min-width: 100px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    background-color: #14485b;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 19px;
    right: -10px;
}

.time::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-top-color: #0b2731;
    border-left-color: #0b2731;
}

.Author {
    display: flex;
    align-items: center;
}

.Author p {
    display: inline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Author img {
    border-radius: 50%;
    margin-right: 8px;
    height: 33.6px;
    width: 33.6px;
    border: 1px solid #17678a;;
}

.Author a {
    color: #17678a;
    text-decoration: none;
}

.text {
   
    margin-top: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 24px;
}

.tag {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px auto 5px;
}

.tag a {
    color: #17678a;
}

.final::before, .final {
    content: "«";
    color: #17678a;
    font-size: 24px;
    text-decoration: none;
}

h1 a:hover {
    color: #14485b;
    text-decoration: underline;
}

.Author a:hover {
    color: #14485b;
    text-decoration: underline;
}

.tag a:hover {
    text-decoration: underline;
}



.final:hover {
    color: #14485b;
    text-decoration: underline;
}


/* Sidebar */

.Hehehe {
    width: 1200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}

.social-icon {
    display: flex;
    gap: 10px;
}

.social-icon img {
    width: 40px;
    height: 40px;
    border: 1px solid #333;
}

.social-icon img:hover {
    transform: translateY(-10px);
    transition: 0.2s ease-out;
}

.sidebar {
    width: 400px;
    margin-left: 40px;
}

.line-shadow {
    box-sizing: content-box;
    height: 0.5px;
    background: #ccc;
    margin: 16px 0px;
    box-shadow:  0px 0px 4px 1px #fff;
}

.sidebar-text {
    line-height: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sidebar-list-text a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #17678a;
    /* margin-left: 12px; */
    /* width: 100px; */
}

.sidebar-list-text ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 24px;
    margin: 16px 0;
}

strong {
    color: #14485b;
    font-weight: bold;
}

.fa-caret-right {
    margin-top: 3.7px;
    color: #14485b;
}

.sidebar-menu {
    display: flex;
    box-sizing: content-box;
    height: 28px;
    width: 300px;
    background-color: #14485b;
    font-size: 18.72px;
    color: #fff;
    padding: 4.68px 4.68px 4.68px 9.36px;
    align-items: center;
}

.sidebar__item{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

a.sidebar__link:hover {
    color: #14485b;
    text-decoration: underline;
}

.sidebar__item + .sidebar__item{
    margin-top: 5px;
}

.sidebar__link{
    display: inline-block;
    /* width: 264px ; */
}

img[alt="img-ending"] {
  margin: 15px auto;
}

.happy-ending {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 16px auto;
}

.footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer a {
    text-decoration: none;
    color: #17678a;
}

.footer p {
    text-align: center;
    margin: 30px auto;
}

.footer span {
    margin-right: 15px; 
    color: #666;
}






